body, html {
  padding: 0;
  margin: 0;
  font-family: Hasklig;
}

#editor {
  width: 100vw;
  height: calc(100vh - 27px);
  background-color: var(--main-bg);
  color: var(--main-fg);
}

#editor:focus {
  outline: none;
}

#status {
  width: 100vw;
  height: 25px;
  background-color: var(--status-bg);
  color: var(--status-fg);
  font-size: 15px;
  padding: 0;
  margin: 0;
  border-top: 1px solid var(--divide);
}

#status span {
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
}