:root {
    --status-bg: #ffffff;
    --status-fg: #25283D;

    --main-bg: #ffffff;
    --main-fg: #25283D;

    --divide: #d0d0d0;

    --editor-fontsize: 20px;
    --editor-padding: 20px;
    --editor-font: "Fira";
}

@font-face {
    font-family: Fira;
    src: url(../assets/fonts/fira.ttf);
}